<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3 class="text-center bg-dark text-light p-3">Fill your information for Seat booking </h3>
<div class="container">

  <div class="row text-center">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
                <div class="col-4 mb-2">
                    <input type="text" value="PNR NO: {{pnr}}" name="pnr" class="form-control text-light text-center bg-secondary">
                </div>
                <div class="col-4 mb-2">
                    <input type="text" value="BUS NO: {{bus}}" name="bus" class="form-control text-light text-center bg-secondary">
                </div>
                <div class="col-4 mb-2">
                    <input type="text" value="SEAT NO: {{seat}}" name="seat" class="form-control text-light text-center bg-secondary">
                </div>
            </div>
        <form action="{% url 'test1' %}" method="post">
            {% csrf_token %}
            <div class="row mb-2">
                <div class="col-3 bg-light">
                    <button type="button" class="btn"><h5>Issued By:</h5></button>
                </div>
                <div class="col-9">
                    <select class="form-select" id="sel1" name="issue">
                 {% for x in issued %}
                <option>{{x.name}}</option>
                 {% endfor %}
             </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 bg-light">
                    <button type="button" class="btn"><h5>Full Name:</h5></button>
                </div>
                <div class="col-9">
            <input type="text" name="fullName" class="form-control" placeholder="Full Name">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 bg-light">
                    <button type="button" class="btn"><h5>Contact No:</h5></button>
                </div>
                <div class="col-9">
            <input type="text" name="contactNo" class="form-control" placeholder="Contact No">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 bg-light">
                    <button type="button" class="btn"><h5>E-Mail:</h5></button>
                </div>
                <div class="col-9">
            <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 bg-light">
                    <button type="button" class="btn"><h5>Address:</h5></button>
                </div>
                <div class="col-9">
            <input type="text" name="address" class="form-control" placeholder="Address">
                </div>
            </div>
            <input type="hidden" name="pnr" value="{{pnr}}">
            <input type="hidden" name="seat" value="{{seat}}">
            <input type="hidden" name="tdate" value="{{tdate}}">
            <input type="hidden" name="depar" value="{{departure}}">
            <input type="hidden" name="dest" value="{{destination}}">
            <input type="hidden" name="busno" value="{{bus}}">
            <input type="hidden" name="time" value="{{time}}">
            <input type="hidden" name="price" value="{{price}}">
            <div class="row mt-2">
                <div class="col-md-6"></div>
                <div class="col-md-2 text-end">
                    <input type="reset" value="Reset" class="btn btn-secondary">
                </div>
                <div class="col-md-2 text-center">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
                <div class="col-md-2 text-start">
                    <button type="button" class="btn btn-warning">Go Back</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>